<top-sidebar logined="0"></top-sidebar>
<div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 sidebar">
            <left-sidebar logined="0"></left-sidebar>
        </div>

        <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Настройки</h1>
        </div>
      </div>
</div>