body, [ui-view]{
	  min-height: 500px;
}

ya-map {
    display: block;
    width: 100%;
    height: 100%;
}
.ya-map{
	height: 100%;	
}
.main-container{
	height: 850px;
	padding: 0;
}
.about {
  padding-top: 70px !important;
}
.map-menu{
	padding: 0px;
	height: 100%;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}