<footer id="footer"><p style="text-align: center;">&copy; My Company <%-date %></p></footer>

<!-- <script src="/jsapp/build.elements.js"></script> -->


<script src="/build/bundle.js"></script>
</body>
</html>