<div class="col-md-4 col-md-offset-4 col-xs-12 vcenter">
    <div class="panel panel-primary" ng-controller="homeCtrl as ctrl" >
        <div class="panel-heading">
            <h3 class="panel-title">Авторизация</h3>
        </div>
        <div class="panel-body">
            <form ng-submit="ctrl.submit()">
                <div class="form-group">
                    <input type="text" ng-model="ctrl.data.username" class="form-control" id="exampleInputEmail1" placeholder="Login">
                </div>
                <div class="form-group">
                    <input type="password" ng-model="ctrl.data.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
            </form>
        </div>
    </div>
</div>



