<!-- ******HEADER****** --> 
<ul class="nav nav-sidebar">
  <li ui-sref-active="active"><a ui-sref="cabinetImport">Ипорт</a></li>
  <li ui-sref-active="active"><a ui-sref="cabinetSettings">Настройки</a></li>
</ul>